// @import "*";

.page-title, .bar-name {
  font-size: 50px;
  margin-bottom: 30px;
}

.bars {
  text-align: center;
  font-family: monospace;
}

.bar {
  margin-bottom: 20px;
}

.review {
  border: 10px solid black;
  margin: 2px;
}

.bar-info {
  font-size: 30px;
}
